### use # to comment out the configure item
## using all 5 types of tags

### I/O ###
# train
train_dir=data/processed/train_full.jsonl
dev_dir=data/processed/dev_full.jsonl
test_dir=data/processed/test.jsonl
dev_input_dir=data/input/cybersecurity-reports/dev_full.json
test_input_dir=data/input/cybersecurity-reports/test.json
model_dir=checkpoints/multi_bert
word_emb_dir=resources/glove.6B.100d.txt

# decode
decode_dir=model_out/multi_bert.out
dset_dir=checkpoints/multi_bert.dset
load_model_dir=checkpoints/multi_bert.best.model

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=True
word_emb_dim=100
#char_emb_dim=30

###NetworkConfiguration###
use_crf=True
use_char=False
word_seq_feature=LSTM
#nbest=1
use_bert=True

###TrainingSetting###
status=train
optimizer=SGD
iteration=15
batch_size=5
ave_batch_loss=False

###Hyperparameters###
hidden_dim=200
dropout=0.4
lstm_layer=1
bilstm=True
learning_rate=0.015
lr_decay=0.05
momentum=0
l2=1e-8
MAX_SENTENCE_LENGTH=200
#gpu
#clip=
